
<%= bootstrap_form_with(model: user, local: true) do |form| %>
  

    <%= form.text_field :name %>

    <%= form.email_field :email %>
  
    <%= form.password_field :password %>
    
    <%= form.password_field :password_confirmation %>
    
    <%#= form.text_field :status %>
    <%= form.select :status, [["Ativo", 1], ["Inativo", 0]], { label: "Selecione um status:", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %>
    
  <div class="actions">
    <%= form.submit 'Salvar', class: 'btn btn-success' %>
  </div>
<% end %>
