<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><%= link_to "Sobre nós", about_path, class: 'text-white' %></li>
            <li><%= link_to "Contate-nos", contact_us_path, class: 'text-white' %></li>
            <li><%= link_to "Nosso site", 'https://rltecno.com.br', class: 'text-white', target: '_blank' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
     
      <%= link_to  root_path, class: 'navbar-brand d-flex align-items-center' do %>
        <!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" fill="#FFF" stroke="currentColor" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
          <g>
            <rect x="156" y="434" width="299" height="45"/>
            <rect x="55" y="434" width="56" height="45"/>
          </g>
          <g>
            <rect x="156" y="334" width="299" height="45"/>
            <rect x="55" y="334" width="56" height="45"/>
          </g>
          <g>
            <rect x="55" y="234" width="56" height="45"/>
            <rect x="156" y="234" width="299" height="45"/>
          </g>
          <g>
            <rect x="55" y="134" width="56" height="45"/>
            <rect x="156" y="134" width="299" height="45"/>
          </g>
          <g>
            <rect x="55" y="34" width="56" height="45"/>
            <rect x="156" y="34" width="299" height="45"/>
          </g>
        </svg>-->
        <%= image_tag  "https://img.icons8.com/cute-clipart/64/000000/add-list.png", width: '40px' %>
        <strong> &nbsp; Contact List</strong>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>